body{
   text-align: center;
   background-color: green;
}

button{
   background-color: black;
   color: darkgray;
   padding: 10px;
   border-radius: 8px;
   border: none;
   margin: auto;
}

button:hover {
   cursor: pointer;
   background-color: rgb(29, 29, 29);
}

button:active,
button:focus {
  outline: none;
}

#card-area{
   margin-top: 80px;
}

#card-area > img{
   position: absolute;
   left: 0;
   right: 0;
   margin: auto;
}